/* external css */
h1 {
    color: rgb(0, 194, 74);
    background-color: rgba(90, 189, 41, 0.708);
}
h2{
    color: rgb(202, 238, 68);
    background-color: rgb(170, 0, 255);
}
h3{
    color: black;
    background-color:rgb(144, 0, 0);
}